@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    zoom: 85%;
}

body {
    background: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 326145175;
    box-shadow: 0 0 10px rgba(1, 37, 36, 0.21);
    background: rgb(21, 152, 150);
}

#chk1 {
    display: none;
}

i {
    color: #fff;
    cursor: pointer;
}

header .logo {
    flex: 1;
    color: #fff;
    margin-left: 50px;
}

header .logo h1 {
    margin: 0px;
    font-size: 34px;
}

header .search-box {
    flex: 1;
    position: relative;
}

header .nav-items-list {
    flex: 2;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding: 0px;
}

header .nav-item-icons li a {
    margin: 0px 22px;
}

header .nav-item-icons {
    padding: 0px;
    margin-right: 50px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px 40px;
    letter-spacing: 1px;
}

header ul .nav-icons a {
    margin: 0px 10px;
}

header ul li a:hover {
    border-bottom: 2px solid cadetblue;
}

header .menu {
    font-size: 2.5em;
    display: none;
}

@media (max-width: 1200px) {
    .search-box button {
        position: absolute;
    }
    header .nav-items-list {
        position: fixed;
        top: 60px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 60px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.5s linear;
    }
    header .nav-item-icons {
        position: fixed;
        top: 60px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 60px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.5s linear;
        margin: 0px;
    }
    header .nav-item-icons li a {
        margin: 22px 22px;
    }
    header .menu {
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked~ul {
        right: 0;
    }
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a,
a:hover,
a:focus,
a:active {
    outline: none;
}

.section-padding {
    padding: 60px 0px;
}

hr.botm-line {
    height: 3px;
    width: 60px;
    background: #ffb737;
    position: relative;
    border: 0;
    margin: 20px 0 20px 0;
}

#banner {
    background: url('../img/bg-banner.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 650px;
    position: relative;
}

.bg-color {
    background-color: RGBA(13, 70, 83, 0.78);
    min-height: 650px;
}

.banner-info {
    padding-top: 190px;
    z-index: 1;
}

.banner-logo img {
    display: inline-block;
}

.banner-text {
    color: #fff;
}

.banner-text h1 {
    font-family: 'Candal', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.btn-appoint,
.btn-appoint:hover,
.btn-appoint:focus {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgba(12, 184, 182, 0.91);
    border-radius: 3px;
    color: #fff;
}

.overlay-detail a i {
    text-align: center;
    position: absolute;
    bottom: 25px;
    font-size: 38px;
    color: #fff;
    margin: 0 auto;
}

.text-primary i {
    padding-top: 8px;
    display: inline-block;
}

.banner-head {
    font-weight: bold;
}

.section-heading {
    color: rgb(9, 102, 100);
    text-align: center;
    margin: 44px 0px;
    font-weight: 600;
    font-size: 44px;
}

.icon i {
    color: #0cb8b6;
    font-size: 45px;
    margin-bottom: 25px;
}

.service-card {
    width: 405px;
    background-color: #0cb8b6;
    padding: 44px 12px 44px 22px;
    flex: 1 1 10px;
}

.service-cards .service-card span {
    font-size: 28px;
    color: white;
    font-weight: 600;
    margin-bottom: 18px;
}

.service-cards .service-card p {
    color: white;
    margin-top: 12px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    gap: 3px;
}

th,
td {
    width: 200px;
    padding: 5px;
}

.dream-head {
    text-transform: uppercase;
}

.service-left {
    margin-right: 50px;
    margin-left: 34px;
}

.service-dream-cont span {
    color: white;
    background-color: #0cb8b6;
    padding: 10px;
    border-radius: 50%;
}

.service-dream-cont {
    display: flex;
    gap: 22px;
}

.border-btm {
    border-bottom: 4px solid rgb(179, 48, 48);
    width: 100px;
    margin: 18px 0px;
}

.footer {
    background-color: rgb(9, 46, 50);
    padding: 22px 0px;
    color: white;
    width: 100%;
    margin-top: 80px;
}

.footer-column ul {
    list-style-type: disc;
}

.copyright {
    font-size: 18px;
    margin-top: 34px;
    margin-bottom: 16px;
}